@{ 
    ViewData["Title"] = "Privacy Policy"; 
}



<h2>@ViewData["Title"]</h2>

<p>Use this page to detail your site's privacy policy.</p>
@{
    var hidenNumber = 15;
}
<div>
    <h2> @ViewBag.TextFromTest  </h2>
    <h2> El Número oculto es: @hidenNumber  </h2>
</div>
