
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Status</h4>
<hr />
<div class="row">
    <div class="col-md-4">
      
        <div class="form-group">
            <label  class="control-label">Name</label>
            <input id="name" class="form-control" />
        </div>
        
        <div class="form-group">
            <button onclick="saveStatus()" class="btn btn-primary">Create</button>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function saveStatus() {
            let status = {
                id: $("#formId").val()
                name: $("#name").val()
            };

            $.ajax({
                url: "https://localhost:7135/api/Status/Add",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(status),
                success: function (response) {
                    if (response.success) {
                        window.location.href = "/Status/Index";
                    } else {
                        alert("Error: " + response.message);
                    }
                }
            });
        }
    </script>
}